@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

*{
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  color: #fff;
}

html{
  font-size: 62.5%;
  background: #fff;
}

body{
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  width: 100%;
}

header {
  background-color: darkcyan;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header img{
  width: 150px;
  margin: 0 40px;

}

.logo{
  display: flex;
  align-items: center;
}

.logo h3{
  font-family: "Vina Sans", cursive;
  font-synthesis: none;
  color: #b2f6ff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px #00000059;
}

.logo h3 div h3 {
    color: #1ea5ff;
}

header nav ul li{
  list-style: none;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2.4rem;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover{
  background-color: #fff6;
} 

p{
  display: flex;
  font-size: 3rem;
  color: #65d7ff;
  text-transform: lowercase;
  flex-direction: column;
  text-shadow: 1px 1px 1px #00000087;
  margin-top: 50px;
  align-items: center;
}

h1{
  font-size: 5rem;
  text-shadow: 0 3px #003c2d;
  display: flex;
  color: darkcyan;
  text-transform: uppercase;
  justify-content: center;
}

.slider{
  background: #fff;
  margin: 50px auto;
  width: 800px;
  height: 500px;
  overflow: hidden;
  border-radius: 2px;
}

.slides{
  width: 600%;
  height: 500px;
  display: flex;
  align-items: center;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
}

.slide img{
  width: 800px;
}


.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid darkcyan;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 20px;
}

.manual-btn:hover{
  background-color: #00a6a6a1;
}

#radio1:checked ~ .first{
  margin-left: 0%;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}
#radio5:checked ~ .first{
  margin-left: -100%;
}
#radio6:checked ~ .first{
  margin-left: -125%;
}

.navigation-auto div{
  border: 2px solid #00b1ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 434px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #00a6a6a1;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #00a6a6a1;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #00a6a6a1;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #00a6a6a1;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background-color: #00a6a6a1;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
  background-color: #00a6a6a1;
}

.lista{
  background-color: #81818154;
  height: 750px;
  padding-top: 100px;
}

.tabela_lista{
  padding: 20px 75px 75px 75px;
  border: 10px double darkcyan;
  border-radius: 25px;
  width: 90%;
  max-width: 1200px;
  flex-wrap: wrap;
  height: 650px;
  display: flex;
  margin: auto;
  background-color: #ffffff;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
}

.texto{
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 10px;;
  justify-content: center;
  border-bottom: 1px solid darkcyan;
}

.texto h2{
  font-size: 3rem;
  color: darkcyan;
}

.tabela{
  margin: 0px 0px 5px 0px;
  box-shadow: 0px 0px 8px -4px #005b5bb5;
  padding: 5px;
  border-radius: 4px;
  width: 513px;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tabela img{
  width: 33%;
  padding: 5px;
  box-shadow: 1px 0px #00000030;
}

.info_tabela{
  display: flex;
  width: 100%;
  height: 80px;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  
}

.info_tabela div{
  color: black;
  font-size: 1rem;
}

.descricao_vcl{
  width: 306px;
  height: 40px;
}

.marca_vcl{
  width: 175px;
  height: 20px;
  margin-right: auto;
}

.codigo_vcl{
  width: 116px;
  height: 20px;
}

.modelo_vcl{
  width: 170px;
  height: 20px;
  margin-right: auto;
}

.ano_vcl{
  width: 100px;
  height: 20px;
}

.pezinho{
  height: 100px;
  background-color: #81818154;
}
